<!DOCTYPE html>
<html>

<head>
  <title>BookApp</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/icons.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link rel="stylesheet" href="/styles/layout.css">
</head>

<body>
  <div id="booklist">
    <h1>
      Book Detail
    </h1>
   
      <p> <%- books.image_url %> </p>
      <p> <%= books.title %> </p>
      <p> <%= books.authors %> </p>
      <p> <%= books.isbn %> </p>
      <p> <%= books.description %> </p>
    

  </div>
</body>
<footer>
</footer>

</html>