<!DOCTYPE html>
<html>

<head>
  <title>BookApp</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/icons.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link rel="stylesheet" href="/styles/layout.css">
</head>

<body>
  <main>
    <div id="index-div">
      <h1>Book App!</h1>
    </div>
    <div id="newsearch">
      <a href="searches/new">Search for New Book</a>
    </div>
    <div id="booklist">
      <p> Number of Books Saved: <%- books.length %> </p>
      <ul>
        <% books.forEach( book => { %>
        <div id="eachbook">
        <li id="bookimg">
          <%- book.image_url %>
        </li>
        <li id="booktitle">
          <%= book.title %>
        </li>
        <li id="authorname">
          <%= book.authors %>
        </li>
        <li id="bookisbn">
          <%= book.isbn %>
        </li>
        <li id="bookdes">
          <%= book.description %>
        </li>
        <a href="/books/<%- book.id %>">Book Detail</a>
      </div>
        <% }) %>
      </ul>
    </div>
  </main>
</body>
<footer>
</footer>

</html>