<!DOCTYPE html>
<html>
  <head>
    <title>BookApp</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/layout.css">
  </head>
  <body>
    <main>
      <div id="index-div">
        <h1>Book App!</h1>
      </div>
      <div id="booklist">
      <ul>
        <% books.map( book => { %>
        <li id="booktitle">
         <%= book.title %>
        </li>
        <li id="autho rname">
            <%= book.author %>
        </li>
        <li id="bookisbn">
          <%= book.isbn %>
         </li>
         <li id="bookimg">
             <%= book.image_url %>
         </li>
         <li id="bookdes">
          <%= book.description %>
      </li>
        <% }) %>
      </ul>
      </div>
    </main>
  </body>
  <footer>
  </footer>
</html>